[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-decouple = "*"
psycopg2 = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-restful = "*"
healthcheck = "*"

[dev-packages]

[requires]
python_version = "3.8"
